<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_page.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/about_page.js') }}" defer></script>
</head>
<body>
    
    <div id="global">

        <div id="about-intro">
            <div class="side-nav-bar">
                <div class="side-nav-links">
                    <a href="#about-intro">Introduction</a>
                    <a href="#about-company">Company Values</a>
                </div>
                <img src="../static/media/boxSideNavBarWhite.png" alt="Side Nav Bar Box">
            </div>

            <div class="about-intro-body">
                <div class="top-nav-bar">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact Us</a>
                </div>

                <div class="intro-body">
                    <div class="intro-body-header">
                        <div class="intro-header-title">
                            <img src="../static/media/logo.png" alt="Logo">
                            <h1>LuxChain</h1>
                        </div>
                        <p>Cryptocurrency Asset Wallet</p>
                    </div>

                    <div class="intro-title-body">
                        <p>"At Luxchain, we harness the power of blockchain technology to offer a </p>
                        <p>secure and transparent platform for managing digital assets, utilizing</p> <p>Polkadot's advanced blockchain platform."</p>
                    </div>

                    <p class="intro-title-footer">Est.2023</p>
                </div>
            </div>
        </div>

        
        <div id="about-company">

            <div class="company-values">
                <div class="company-vision">
                    <h2>Vision</h2>
                    <p>"Our vision is to redefine the global banking system, establishing a new standard of trust, accessibility, and efficiency through innovative blockchain technology."</p>
                </div>
                <div class="company-mission">
                    <h2>Mission</h2>
                    <p>"Our mission is to leverage blockchain technology to build a decentralized banking system that is driven by and for the community."</p>
                </div>
                <div class="company-purpose">
                    <h2>Purpose</h2>
                    <p>"We exist to revolutionize finance. Our aim: harness the power of blockchain to tackle traditional banking's flaws--inefficiency, opacity, and exclusion. With a community-centric ethos, we're committed to providing a transparent, swift, and inclusive banking alternative, creating a democratized financial future for all."</p>
                </div>
            </div>

            <div class="company-problems">
                <div class="about-problem-details">
                    <h3 class="problem-header">Problem</h3>
                    <p class="problem-text">Centralized traditional banking systems cause high transaction costs, slow processing times, lack of transparency, and potential single points of <br> failure. They also exclude large segments <br> of the global population, leading to <br> financial exclusion and inequality, <br> hindering economic growth and <br> personal financial freedom.</p>
                </div>
                
                <div class="about-problem-details">
                    <h3 class="solution-header">Solution</h3>
                    <p class="solution-text">Our integration of Polkadot, a state-of-the-art blockchain platform, enhances your experience by enabling <br> seamless communication and compatibility <br> with multiple blockchain networks. With <br> Polkadot's advanced technology, you <br> can confidently navigate the world <br> of digital assets, enjoying fast, <br> secure transactions, and a <br> user-friendly experience.</p>
                </div>
            </div>

        </div>

    </div>


</body>
</html>