<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_page.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/about_page.js') }}" defer></script>
</head>
<body>
    
    <div id="global">

        <div id="about-intro">
            <div class="side-nav-bar">
                <div class="side-nav-links">
                    <a href="#about-intro">Introduction</a>
                    <a href="#about-company">Company Values</a>
                </div>
            </div>

            <div class="about-intro-body">
                <div class="top-nav-bar">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact Us</a>
                </div>

                <div class="intro-body">
                    <div class="intro-body-header">
                        <div class="intro-header-title">
                            <img src="../static/media/logo.png" alt="Logo">
                            <h1>LuxChain</h1>
                        </div>
                        <p>Cryptocurrency Asset Wallet</p>
                    </div>

                    <div class="intro-title-body">
                        <p>"At Luxchain, we harness the power of blockchain technology to offer a </p>
                        <p>secure and transparent platform for managing digital assets, utilizing</p> <p>Polkadot's advanced blockchain platform."</p>
                    </div>

                    <p class="intro-title-footer">Est.2023</p>
                </div>
            </div>
        </div>

        
        <div id="about-company">

            <div class="company-values">
                <div class="company-vision">
                    <h2>Vision</h2>
                    <p>"Our vision is to redefine the global banking system, establishing a new standard of trust, accessibility, and efficiency through innovative blockchain technology."</p>
                </div>
                <div class="company-mission">
                    <h2>Mission</h2>
                    <p>"Our mission is to leverage blockchain technology to build a decentralized banking system that is driven by and for the community."</p>
                </div>
                <div class="company-purpose">
                    <h2>Purpose</h2>
                    <p>"We exist to revolutionize finance. Our aim: harness the power of blockchain to tackle traditional banking's flaws--inefficiency, opacity, and exclusion. With a community-centric ethos, we're committed to providing a transparent, swift, and inclusive banking alternative, creating a democratized financial future for all."</p>
                </div>
            </div>

            <div class="company-problems">
                <div class="about-problem-details">
                    <h3 class="problem-header">Problem</h3>
                    <p class="problem-text">"Traditional banking systems are centralized, leading <br> to inefficiencies such as high transaction costs, slow processing times, lack of transparency, and potential <br> for single points of failure.Additionally, they often <br> exclude significant portions of the global <br> population who do not have easy access <br> to banking infrastructure. This results in <br> financial exclusion and inequality, <br> limiting economic growth and <br> personal financial freedom."</p>
                </div>
                
                <div class="about-problem-details">
                    <h3 class="solution-header">Solution</h3>
                    <p class="solution-text">"By implementing blockchain technology, we can create a decentralized banking system that significantly reduces transaction costs and processing times due to the elimination of intermediaries. The transparent and immutable <br> nature of blockchain ensures a trustless <br>environment, reducing the potential <br> for fraud and corruption. Moreover, <br> a blockchain-based banking system <br> would provide greater accessibility,<br> allowing anyone with internet access <br> to participate in financial transactions, <br> thereby promoting financial inclusion <br> globally."</p>
                </div>
            </div>

        </div>

    </div>


</body>
</html>