<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaWallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact_page.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/contact_page.js') }}" defer></script>
</head>
<body>

    <div id="global">
        <div id="contact-us">
            <div class="side-nav-bar">
                <div class="side-nav-links">
                    <a>Contact us</a>
                    <a>FAQ</a>
                </div>
                <img src="../static/media/boxSideNavBarWhite.png" alt="Side Nav Bar Box">
            </div>

            <div class="contact-body">
                <div class="top-nav-bar">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact Us</a>
                </div>

                <div class="contact-main">

                    <div class="intro-body-header">
                        <div class="intro-header-title">
                            <img src="../static/media/logo.png" alt="Logo">
                            <h1>LuxChain</h1>
                        </div>
                        <p>Cryptocurrency Asset Wallet</p>
                    </div>

                    <div class="contact-content">
                        <h2>Contact Us</h2>
                        {% with messages = get_flashed_messages(category_filter=['contact']) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form class="contact-form" action="/contact_submit" method="POST">
                            <label class="form-name" for="name">
                                Name
                                <input type="text" name="name">
                            </label>
                            <label class="form-email" for="email">
                                Email 
                                <input type="text" name="email">
                            </label>
                            <label class="form-header" for="header">
                                Header 
                                <input type="text" name="header">
                            </label>
                            <label class="form-description" for="description">
                                Description 
                                <textarea name="description"></textarea>
                            </label>
                            <button>Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div id="contact-faq">

            <div class="faq-header">
                <img src="../static/media/faqTitle.webp" alt="Faq Title">
                <h2>Frequently Asked Questions</h2>
            </div>

            <div class="faq-body">
                <div class="faq-list-left">
                    <div class="one-faq-left">
                        <img src="../static/media/faq1.webp" alt="Faq question">
                        <div class="faq-text-left">
                            <p class="faq-question-left">How Secure are my funds and personal information in the Blockchain Banking App?</p>
                            <p class="faq-answer-left">The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.</p>
                        </div>
                    </div>
                    <div class="one-faq-left">
                        <img src="../static/media/faq2.webp" alt="Faq question">
                        <div class="faq-text-left">
                            <p class="faq-question-left">How Secure are my funds and personal information in the Blockchain Banking App?</p>
                            <p class="faq-answer-left">The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.</p>
                        </div>
                    </div>
                    <div class="one-faq-left">
                        <img src="../static/media/faq3.webp" alt="Faq question">
                        <div class="faq-text-left">
                            <p class="faq-question-left">How Secure are my funds and personal information in the Blockchain Banking App?</p>
                            <p class="faq-answer-left">The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.</p>
                        </div>
                    </div>
                </div>

                <div class="faq-list-right">
                    <div class="one-faq-right">
                        <img src="../static/media/faq4.webp" alt="Faq question">
                        <div class="faq-text-right">
                            <p class="faq-question-right">How Secure are my funds and personal information in the Blockchain Banking App?</p>
                            <p class="faq-answer-right">The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.</p>
                        </div>
                    </div>
                    <div class="one-faq-right">
                        <img src="../static/media/faq5.webp" alt="Faq question">
                        <div class="faq-text-right">
                            <p class="faq-question-right">How Secure are my funds and personal information in the Blockchain Banking App?</p>
                            <p class="faq-answer-right">The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.</p>
                        </div>
                    </div>

                    <div class="one-faq-right">
                        <img src="../static/media/faq6.webp" alt="Faq question">
                        <div class="faq-text-right">
                            <p class="faq-question-right">How Secure are my funds and personal information in the Blockchain Banking App?</p>
                            <p class="faq-answer-right">The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</body>
</html>