<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.home.preview.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.home.preview.js') }}" defer></script>
</head>
<body>
    <div id="swipe-container">

        <div id="global-app">

            <div class="mobile-header">

                <img src="../static/media/blackHamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    <div class="mobile-nav-bar-links">
                        <a>Intro</a>
                        <a>App Preview</a>
                        <a>Join Waitlist</a>
                    </div>
                </div>

            </div>

            <div class="opening-features">
                <a>
                    Crypto Wallet
                </a>
                <div class="opening-features-descriptions">
                    <div class="opening-features-one">
                        <a>
                            Transaction Flexibility
                        </a>
                    </div>
                    <div class="opening-features-two">
                        <a>
                            Borderless Transactions
                        </a>
                    </div>
                    <div class="opening-features-three">
                        <a>
                            Ownership of Digital Assets
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiping-features">
                <div class="swiping-features-one">
                    <img class="swiping-features-icon-one" src="../static/media/mobileSwipingFeaturesOne.webp" alt="swiping features icon one">
                    <div class="swiping-features-one-description">
                        <a>
                            Invite your Friends
                        </a>
                        <p>
                            Transfer to friends with one <br>click after connecting with <br>them
                        </p>
                    </div>
                </div>
                <div class="swiping-features-two">
                    <img class="swiping-features-icon-two" src="../static/media/mobileSwipingFeaturestwo.webp" alt="swiping features icon two">
                    <div class="swiping-features-two-description">
                        <a>
                            Make Secure Transactions
                        </a>
                        <p>
                            With the security of the blockchain technology, users can make safe transactions
                        </p>
                    </div>
                </div>
                <div class="swiping-features-three">
                    <img class="swiping-features-icon-three" src="../static/media/mobileSwipingFeaturesthree.webp" alt="swiping features icon three">
                    <div class="swiping-features-three-description">
                        <a>
                            Process transactions quickly with low transaction cost
                        </a>
                        <p>
                            Matching the transaction cost from the user and the company will help finalize blocks faster
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-descriptions">
                <a>
                    Comprehensive dashboard displaying key information
                </a>
                <a>
                    One-click access to common wallet functions
                </a>
                <a>
                    Secure and encrypted transactions
                </a>
            </div>

            <div class="iphone-features">
                <div class="iphone-features-text">
                    <a>
                        Account Details
                    </a>
                    <p>
                        Quick-Access
                    </p>
                </div>
                <div class="feature-icons">
                    <div class="feature-icon-one-components">
                        <img class="feature-icon-one" src="../static/media/mobileFeature1.webp">
                        <a>
                            Intuitive Wallet<br> Interface
                        </a>
                    </div>
                    <div class="feature-icon-two-components">
                        <img class="feature-icon-two" src="../static/media/mobileFeature2.webp">
                        <a>
                            Social Payment <br>Integration
                        </a>
                    </div>
                    <div class="feature-icon-three-components">
                        <img class="feature-icon-three" src="../static/media/mobileFeature3.webp">
                        <a>
                            Personalized <br>Transaction Insights
                        </a>
                    </div>
                </div>
            </div>

            <div class="polkadot-technology">
                <img class="polkadot-technology-image" src="../static/media/polkadotTechnologyDiagram.webp">
                <div class="polkadot-technology-description">
                    <a>
                        Polkadot Technology
                    </a>
                    <p>
                        Polkadot's Relay Chain is the central hub that<br> connects different blockchains ensuring <br>security and consensus across the network.
                    </p>
                    <p>
                        Parachains are individual blockchains that run <br>parallel within the Polkadot network, benefitting <br>from the Relay Chain's security and <br>interoperability features.
                    </p>
                    <p>
                        Together, they form a scalable, decentralized <br>network that enables different blockchains to <br>transfer messages and value seamlessly, <br>fostering a connected and versatile ecosystem.
                    </p>
                </div>
            </div>

            <div class="bank-comparison">
                <div class="banking-system">
                    <p>Banking System</p>

                </div>
                <div class="bank-comparison-icon-titles">
                    <p>
                        Centralized
                    </p>
                    <p>
                        Susceptible to Fraud
                    </p>
                    <p>
                        Slow Cross Border Transactions
                    </p>
                    <p>
                        Not Fully Transparent
                    </p>
                    <p>
                        High Fees for overdraft, cross border
                    </p>
                </div>
                <p>
                    VS
                </p>
                <div class="blockchain-comparison-icon-titles">
                    <p>
                        Decentralized
                    </p>
                    <p>
                        Pooled Security
                    </p>
                    <p>
                        Quick Cross-Chain Transactions
                    </p>
                    <p>
                        High Level of Privacy
                    </p>
                    <p>
                        Low Transaction Fees
                    </p>
                </div>
                <div class="blockchain-system">
                    <p>
                        Luxora System
                    </p>

                </div>
            </div>


        </div>
    </div>
</body>
</html>