<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.contact.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.contact.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
</head>
<body>
    <div id="swipe-container">

        <div class="side-nav-bar">
            
            <img src="../static/media/hamburger.webp" class="hamburger-return" alt="hamburger-icon">

            <div class="side-nav-links">

                <div class="nav-link-one">
                    <div class="head-link-one">
                        <img src="../static/media/homeMobile.webp" alt="Home Side Link">
                        <a href="/">Home</a>
                    </div>
                    <div class="nav-sub-link-one">
                        <a href="/">Introduction</a>
                        <a href="/#global-app">App Preview</a>
                        <a href="/#global-waitlist">Join Waitlist</a>
                    </div>
                </div>

                <div class="nav-link-two">
                    <div class="head-link-two">
                        <img src="../static/media/aboutUsMobile.webp" alt="About Side Link">
                        <a href="/about">About</a>
                    </div>
                    <div class="nav-sub-link-two">
                        <a class="nav-sub-link-two-one" href="/about#about">Introduction</a>
                        <a class="nav-sub-link-two-two" href="/about#about-info">Company Values</a>
                    </div>
                </div>

                <div class="nav-link-three">
                    <div class="head-link-three">
                        <img src="../static/media/contactUsMobile.webp" alt="Contact Us Side Link">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <div class="nav-sub-link-three">
                        <a class="nav-sub-link-three-one" href="/contact#global-contact">Contact Form</a>
                        <a class="nav-sub-link-three-two" href="/contact#global-faq">FAQ</a>
                    </div>
                </div>

            </div>
        </div>


        <div id="global-contact" class="dynamicLoad">

            <div class="mobile-header">

                <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <div class="mobile-nav-bar-box-container">
                        <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    </div>
                    <div class="mobile-nav-bar-line-container">
                        <img class="mobile-nav-bar-line" src="../static/media/mobileNavBarLine.webp" alt="mobile nav bar line">
                    </div>
                    <div class="mobile-nav-bar-links">
                        <a>Contact Us</a>
                        <a>FAQ</a>
                    </div>

                </div>
            </div>

            <div class="mobile-body-intro-about">
                <div class="mobile-body-intro-about-title">
                    <img class="mobile-body-intro-about-title-logo" src="../static/media/logoIntroLight.webp" alt="mobile-logo-light">
                    <h2>Luxora</h2>
                </div>
                <p class="mobile-about-slogan">Cryptocurrency Asset Wallet</p>
            </div>

            <div class="contact-content">
                {% with messages = get_flashed_messages(category_filter=['contact']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form class="contact-form" action="/contact_submit" method="POST">
                    <label class="form-name" for="name">
                        Name
                        <input type="text" name="name">
                    </label>
                    <label class="form-email" for="email">
                        Email 
                        <input type="text" name="email">
                    </label>
                    <label class="form-header" for="header">
                        Header 
                        <input type="text" name="header">
                    </label>
                    <label class="form-description" for="description">
                        Description 
                        <textarea name="description"></textarea>
                    </label>
                    <button>Submit</button>
                </form>
            </div>
        </div>


        <div id="global-faq" class="dynamicLoad">
            <!-- <div class="banner"></div> -->
            <div class="mobile-header">

                <img src="../static/media/blackHamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <div class="mobile-nav-bar-box-container">
                        <img class="mobile-nav-box" src="../static/media/boxSideNavBar.png" alt="mobile nav bar box">
                    </div>
                    <div class="mobile-nav-bar-line-container">
                        <img class="mobile-nav-bar-line" src="../static/media/mobileNavBarLine.webp" alt="mobile nav bar line">
                    </div>
                    <div class="mobile-nav-bar-links-preview">
                        <a>Contact us</a>
                        <a>FAQ</a>
                    </div>

                </div>
            </div>

            <div class="all-questions">
                <div class="question-one">
                    <p class="question-one-header">
                        How Secure Are My Funds and Personal Information in the Blockchain Banking App?
                    </p>
                    <P class="question-one-answer">
                        The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.
                    </P>
                </div>
                <div class="question-two">
                    <p class="question-two-header">
                        What Control Do I Have Over My Personal Data in the App?
                    </p>
                    <P class="question-two-answer">
                        You have full control over your personal data. The decentralized nature of blockchain ensures that your information is not stored centrally, minimizing the risk of unauthorized access.
                    </P>
                </div>
                <div class="question-three">
                    <p class="question-three-header">
                        Can I Use the Blockchain Banking App to Manage Multiple Cryptocurrencies?
                    </p>
                    <P class="question-three-answer">
                        Yes, depending on the app's design and integration with Polkadot, you can manage and transact with multiple cryptocurrencies, all within a unified interface.
                    </P>
                </div>
                <div class="question-four">
                    <p class="question-four-header">
                        How Can Users Trust a Blockchain Banking Application?
                    </p>
                    <P class="question-four-answer">
                        By leveraging blockchain's immutability and transparency, a blockchain banking application ensures that transactions are secure, traceable, and free from tampering.
                    </P>
                </div>
                <div class="question-five">
                    <p class="question-five-header">
                        What Are the Benefits of Using a Blockchain Banking Application Over Traditional Banking?
                    </p>
                    <P class="question-five-answer">
                        Blockchain banking applications offer advantages like reduced fees, faster transaction times, greater accessibility, and enhanced privacy and control over personal financial data.
                    </P>
                </div>
                <div class="question-six">
                    <p class="question-six-header">
                        Why Should I Choose a Blockchain-Based Banking System?
                    </p>
                    <P class="question-six-answer">
                        Blockchain-based banking provides enhanced security, transparency, and efficiency in transactions, offering a more user-friendly experience and potentially lower fees compared to traditional banking.
                    </P>
                </div>

            </div>
            

        </div>
    </div>

</body>
</html>