<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.home.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.home.js') }}" defer></script>
</head>
<body class="fade-in">

    <div id="swipe-container">

        <div class="side-nav-bar">
            
            <img src="../static/media/hamburger.webp" class="hamburger-return" alt="hamburger-icon">

            <div class="side-nav-links">

                <div class="nav-link-one">
                    <div class="head-link-one">
                        <img src="../static/media/homeMobile.webp" alt="Home Side Link">
                        <a href="/">Home</a>
                    </div>
                    <div class="nav-sub-link-one">
                        <a href="/">Introduction</a>
                        <a href="/mobile_app_preview">App Preview</a>
                        <a href="/mobile_join_waitlist">Join Waitlist</a>
                    </div>
                </div>

                <div class="nav-link-two">
                    <div class="head-link-two">
                        <img src="../static/media/aboutUsMobile.webp" alt="About Side Link">
                        <a href="/about">About</a>
                    </div>
                    <div class="nav-sub-link-two">
                        <a class="nav-sub-link-two-one" href="/about">Introduction</a>
                        <a class="nav-sub-link-two-two" href="/about_info">Company Values</a>
                    </div>
                </div>

                <div class="nav-link-three">
                    <div class="head-link-three">
                        <img src="../static/media/contactUsMobile.webp" alt="Contact Us Side Link">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <div class="nav-sub-link-three">
                        <a class="nav-sub-link-three-one" href="/contact">Contact Form</a>
                        <a class="nav-sub-link-three-two" href="/FAQ">FAQ</a>
                    </div>
                </div>

            </div>
        </div>

        <div id="global-intro">


            <div class="mobile-header">

                <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    <div class="mobile-nav-bar-links">
                        <a>Intro</a>
                        <a>App Preview</a>
                        <a>Join Waitlist</a>
                    </div>
                </div>

            </div>

            <div class="mobile-body-intro">

                <div class="mobile-body-intro-header">
                    <div class="mobile-body-intro-main">
                        <img class="mobile-body-intro-main-title-logo" src="../static/media/logoIntro.webp" alt="mobile-logo">
                        <h2>Luxora</h2>
                    </div>
                    <p>Cryptocurrency Asset Wallet</p>
                </div>

                <div class="mobile-body-intro-description">
                    <p class="mobile-body-intro-description-one">Lower Transaction Fees</p>
                    <p class="mobile-body-intro-description-two">Faster Block Finalization</p>
                </div>

            </div>
        </div>
    </div>

</body>
</html>