<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.about.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.about.js') }}" defer></script>
</head>
<body>
    
    <div id="global-about">

        <div class="mobile-header">

            <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

            <div class="mobile-nav-bar">
                <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                <div class="mobile-nav-bar-links">
                    <a>Intro</a>
                    <a>Company Values</a>
                </div>
            </div>

        </div>

        <div class="mobile-body-intro-about">
                <div class="mobile-body-intro-about-title">
                    <img class="mobile-body-intro-about-title-logo" src="../static/media/logoIntroLight.webp" alt="mobile-logo-light">
                    <h2>Luxora</h2>
                </div>
                <p class="mobile-about-slogan">Cryptocurrency Asset Wallet</p>
                <p class="mobile-about-text" style="line-height: 2;">"At Luxchain, we harness the power of blockchain technology to offer a secure and transparent platform for managing digital assets, utlizing Polkadot's advanced blockchain platform</p>
                <p class="company-establishment">
                    Est. 2023
                </p>
        </div>

    </div>

</body>
</html>