<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.home.waitlist.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.home.waitlist.js') }}" defer></script>
</head>
<body>
    <div id="swipe-container">


        <div class="side-nav-bar">
            
            <img src="../static/media/hamburger.webp" class="hamburger-return" alt="hamburger-icon">

            <div class="side-nav-links">

                <div class="nav-link-one">
                    <div class="head-link-one">
                        <img src="../static/media/homeMobile.webp" alt="Home Side Link">
                        <a href="/">Home</a>
                    </div>
                    <div class="nav-sub-link-one">
                        <a>Introduction</a>
                        <a>App Preview</a>
                        <a>Join Waitlist</a>
                    </div>
                </div>

                <div class="nav-link-two">
                    <div class="head-link-two">
                        <img src="../static/media/aboutUsMobile.webp" alt="About Side Link">
                        <a>About</a>
                    </div>
                    <div class="nav-sub-link-two">
                        <a class="nav-sub-link-two-one">Introduction</a>
                        <a class="nav-sub-link-two-two">Company Values</a>
                    </div>
                </div>

                <div class="nav-link-three">
                    <div class="head-link-three">
                        <img src="../static/media/contactUsMobile.webp" alt="Contact Us Side Link">
                        <a>Contact Us</a>
                    </div>
                    <div class="nav-sub-link-three">
                        <a class="nav-sub-link-three-one">Contact Form</a>
                        <a class="nav-sub-link-three-two">FAQ</a>
                    </div>
                </div>

            </div>
        </div>

        <div id="global-waitlist">

            <div class="mobile-header">
                <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    <div class="mobile-nav-bar-links">
                        <a>Intro</a>
                        <a>App Preview</a>
                        <a>Join Waitlist</a>
                    </div>
                </div>
            </div>

            <div class="mobile-waitlist-body">
                <div class="waitlist-title">
                    <img class="mobile-waitlist-banner" src="../static/media/mobileWaitlistBanner.webp" alt="mobile waitlist banner">
                    <a>
                        Join the Community
                    </a>
                    <p>
                        Enroll in our waitlist to receive priority rewards!
                    </p>
                </div>

                <form id="waitlistForm" class="waitlist-form" action="/join_waitlist" method="POST">
                    <label class="waitlist-first" for="first_name">
                        First name
                        <input type="text" name="first_name" placeholder="John">
                    </label>
                    <label class="waitlist-last" for="last_name">
                        Last name
                        <input type="text" name="last_name" placeholder="Doe">
                    </label>
                    <label class="waitlist-email" for="email">
                        Email
                        <input type="text" name="email" placeholder="johndoe@gmail.com">
                    </label>
                    <button type="submit">Submit 
                        <div id="processing" class="processing"></div>
                    </button>
                </form>
            </div>


        </div>
    </div>

</body>
</html>