<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.home.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.home.js') }}" defer></script>
</head>
<body>
    <div id="swipe-container">
        <div id="global-intro">

            <div class="mobile-header">

                <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    <div class="mobile-nav-bar-links">
                        <a>Intro</a>
                        <a>App Preview</a>
                        <a>Join Waitlist</a>
                    </div>
                </div>

            </div>

            <div class="mobile-body-intro">

                <div class="mobile-body-intro-header">
                    <div class="mobile-body-intro-main">
                        <img class="mobile-body-intro-main-title-logo" src="../static/media/logoIntro.webp" alt="mobile-logo">
                        <h2>Luxora</h2>
                    </div>
                    <p>Cryptocurrency Asset Wallet</p>
                </div>

                <div class="mobile-body-intro-description">
                    <p class="mobile-body-intro-description-one">Lower Transaction Fees</p>
                    <p class="mobile-body-intro-description-two">Faster Block Finalization</p>
                </div>

            </div>
        </div>
    </div>

</body>
</html>