<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>LuxChain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.about.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/mobile.about.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
</head>
<body>
    <div id="swipe-container">

        <div class="side-nav-bar">
            
            <img src="../static/media/hamburger.webp" class="hamburger-return" alt="hamburger-icon">

            <div class="side-nav-links">

                <div class="nav-link-one">
                    <div class="head-link-one">
                        <img src="../static/media/homeMobile.webp" alt="Home Side Link">
                        <a href="/">Home</a>
                    </div>
                    <div class="nav-sub-link-one">
                        <a href="/">Introduction</a>
                        <a href="/mobile_app_preview">App Preview</a>
                        <a href="/mobile_join_waitlist">Join Waitlist</a>
                    </div>
                </div>

                <div class="nav-link-two">
                    <div class="head-link-two">
                        <img src="../static/media/aboutUsMobile.webp" alt="About Side Link">
                        <a href="/about">About</a>
                    </div>
                    <div class="nav-sub-link-two">
                        <a class="nav-sub-link-two-one" href="/about">Introduction</a>
                        <a class="nav-sub-link-two-two" href="/about_info">Company Values</a>
                    </div>
                </div>

                <div class="nav-link-three">
                    <div class="head-link-three">
                        <img src="../static/media/contactUsMobile.webp" alt="Contact Us Side Link">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <div class="nav-sub-link-three">
                        <a class="nav-sub-link-three-one" href="/contact">Contact Form</a>
                        <a class="nav-sub-link-three-two" href="/FAQ">FAQ</a>
                    </div>
                </div>

            </div>
        </div>

        <div id="about" class="dynamicLoad">

            <div class="mobile-header">

                <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <div class="mobile-nav-bar-box-container">
                        <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    </div>
                    <div class="mobile-nav-bar-line-container">
                        <img class="mobile-nav-bar-line" src="../static/media/mobileNavBarLine.webp" alt="mobile nav bar line">
                    </div>
                    <div class="mobile-nav-bar-links">
                        <a>Intro</a>
                        <a>Company Values</a>
                    </div>

                </div>
            </div>

            <div class="mobile-body-intro-about">
                    <div class="mobile-body-intro-about-title">
                        <img class="mobile-body-intro-about-title-logo" src="../static/media/logoIntroLight.webp" alt="mobile-logo-light">
                        <h2>Luxora</h2>
                    </div>
                    <p class="mobile-about-slogan">Cryptocurrency Asset Wallet</p>
                    <p class="mobile-about-text" style="line-height: 2;">"At Luxchain, we harness the power of blockchain technology to offer a secure and transparent platform for managing digital assets, utlizing Polkadot's advanced blockchain platform</p>
                    <p class="company-establishment">
                        Est. 2023
                    </p>
            </div>
        </div>

        <div id="about-info" class="dynamicLoad">
            
            <div class="mobile-header">

                <img src="../static/media/hamburger.webp" class="hamburger-icon" alt="hamburger-icon">

                <div class="mobile-nav-bar">
                    <div class="mobile-nav-bar-box-container">
                        <img class="mobile-nav-box" src="../static/media/boxSideNavBarWhite.png" alt="mobile nav bar box">
                    </div>
                    <div class="mobile-nav-bar-line-container">
                        <img class="mobile-nav-bar-line" src="../static/media/mobileNavBarLine.webp" alt="mobile nav bar line">
                    </div>
                    <div class="mobile-nav-bar-links">
                        <a>Intro</a>
                        <a>Company Values</a>
                    </div>

                </div>
            </div>

            <div class="company-information">
                <div class="company-info-one">
                    <h2>
                        Vision
                    </h2>
                    <p>
                        "Our vision is to redefine the global banking system, establishing <br>a new standard of trust, accessibility, and efficiency <br>through innovative blockchain technology."
                    </p>
                </div>
                <div class="company-info-two">
                    <h2>
                        Mission
                    </h2>
                    <p>
                        "Our mission is to leverage blockchain technology to build <br>a decentralized banking system that is driven by and for<br> the community."
                    </p>
                </div>
                <div class="company-info-three">
                    <h2>
                        Purpose
                    </h2>
                    <p>
                        "We exist to revolutionize finance. Our aim: harness the <br>power of blockchain to tackle traditional banking's flaws—<br>inefficiency, opacity, and exclusion. With a community-<br>centric ethos, we're committed to providing a transparent, <br>swift, and inclusive banking alternative, creating a <br>democratized financial future for all."
                    </p>
                </div>
            </div>

            <div class="problem-solution">
                <div class="problem">
                    <h2>
                        Problem
                    </h2>
                    <p>
                        Centralized traditional banking systems cause high <br>transaction costs, slow processing times, lack of <br>transparency, and potential single points of <br>failure. They also exclude large segments <br>of the global population, leading to <br>financial exclusion and inequality, <br>hindering economic growth and <br>personal financial freedom
                    </p>
                </div>
                <div class="solution">
                    <h2>
                        Solution
                    </h2>
                    <p>
                        Our integration of Polkadot, a state-of-the-art blockchain <br>platform, enhances your experience by enabling <br>seamless communication and compatibility with <br>multiple blockchain networks. With Polkadot's <br>advanced technology, you can confidently <br>navigate the world of digital assets,<br> enjoying fast, secure transactions, and a <br>user-friendly, feature-rich experience
                    </p>
                </div>
            </div>

        </div>
    </div>

</body>
</html>