/* Mobile styles */
#swipe-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Prevent line breaks */
    transition: transform 0.3s ease-in-out;
}

#global-about-info {
    margin: 0;
    width: 414px;
    height: 1000px;
    background-image: url("../media/mobileBackgroundAboutInfo.webp");
    background-size: cover;
}

body {
    margin: 0;
}

 html {
    margin: 0;
    height: 100%;
    font-family: Garet;
    text-decoration: none;
    } .mobile-header {
        margin: 0;
        max-height: 17%;
        display: flex;
        flex-direction: column;
        } .hamburger-icon {
            width: 8%;
            height: 17%;
            margin-top: 10%;
            margin-left: 7%;
            } .mobile-nav-bar {
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                margin-top: 2.85%;
                } .mobile-nav-box {
                        width: 5%;
                        height: 30%;
                        margin-left: 18.5%;
                        margin-top: 5%;
                    }.mobile-nav-bar-links {
                        padding-top: 1%;
                        display: flex;
                        justify-content: space-evenly;
                        font-size: 0.85em;
                        color: white;
                        gap: 1.3vw;
                        } .mobile-nav-bar-links > p {
                            display: flex;
        } .company-information {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 35%;
            padding-top: 15%;
            
            } .company-info-one {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 33%;
                text-align: center;
                } .company-info-one > h2 {
                    color: white;
                    font-size: 15px;
                    margin-left: 60%;
                    } .company-info-one > p {
                        color: white;
                        font-size: 8.5px;
                        margin-left: 30%;
                        text-align: center;
                        margin-top: -3.5%;
                    } .company-info-two {
                        margin-top: -8%;
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        height: 33%;
                        text-align: center;
                        } .company-info-two > h2 {
                            color: white;
                            font-size: 15px;
                            margin-left: 60%;
                            } .company-info-two > p {
                                color: white;
                                font-size: 8.5px;
                                margin-left: 30%;
                                text-align: center;
                                margin-top: -3.5%;
                            } .company-info-three {
                                margin-top: -8%;
                                display: flex;
                                flex-direction: column;
                                width: 80%;
                                height: 33%;
                                text-align: center;
                                } .company-info-three > h2 {
                                    color: white;
                                    font-size: 15px;
                                    margin-left: 60%;
                                    } .company-info-three > p {
                                        color: white;
                                        font-size: 8.5px;
                                        margin-left: 30%;
                                        text-align: center;
                                        margin-top: -3.5%;
            } .problem-solution {
                padding-top: 9%;
                display: flex;
                width: 80%;
                height: 30%;
                } .problem {
                    display: flex;
                    flex-direction: column;
                    } .problem > h2 {
                        font-size: 15px;
                        color: white;
                        }